.title {
  /* color: rgb(127, 114, 98); */
  margin-bottom: 1em;
}

.backToHome {
  margin: 9rem 0 0;




  .back {
    background-color: aqua;
    color: #fff;
    padding: 1em;
    border-radius: 30px;
    font-size: 30px;
    text-decoration: none;
  }
}