.title {
  /* color: rgb(127, 114, 98); */
  margin-bottom: 1em;
}

.backToHome {
  // margin: 20rem 0 0;




  .back {
    background-color: rgb(73, 208, 208);
    color: #fff;
    padding: .5em;
    border-radius: 10px;
    font-size: 19px;
    text-decoration: none;
    position: absolute;
    top: 1em;
    left: 1em;
  }
}